<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^$ index.php [L]

RewriteRule ^product/([0-9]+)/(.*)/$ index.php?content=product&id=$1 [L]
RewriteRule ^product/$ index.php?content=product-all [L]

RewriteRule ^category/([0-9]+)/(.*)/$ index.php?content=category&id=$1 [L]
RewriteRule ^category/$ index.php?content=category-all [L]

RewriteRule ^cart/$ index.php?content=cart [L]

RewriteRule ^checkout/$ shop/checkout.php [L]

RewriteRule ^profile/$ shop/profile.php [L]

RewriteRule ^tagihan/$ shop/tagihan.php [L]

RewriteRule ^print/$ shop/print.php [L]

RewriteRule ^login/$ shop/login.php [L]
RewriteRule ^regist/$ shop/regist.php [L]
RewriteRule ^aksi/$ shop/aksi.php [L]
RewriteRule ^forgot-password/$ shop/forgot-password.php [L]

RewriteRule ^payment/$ shop/payment.php [L]

RewriteRule ^search/$ index.php?content=search&kata=$1 [L]

</IfModule>
